/**
 * Image Optimizer
 * 
 * @author Bavamont
 * @link https://github.com/bavamont
 */

*,
*::after,
*::before {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}

html,
body {
    height: 100%;
}

body {
    background-color: #FFF;
    color: #081c2b;
    -ms-overflow-style: none;
    overflow: hidden;
    font-size: 12px;
}

.material-icons.md-14 {
    font-size: 14px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.bg-dark {
    background-color: #081c2b !important;
    color: #FFF;
}

.nav-link {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-app-region: no-drag;
    color: rgba(255, 255, 255, 1) !important;
    cursor: default !important;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
}

.nav-link-window {
    color: rgba(255, 255, 255, 0.7) !important;
}

.nav-link-window:hover {
    color: rgba(255, 255, 255, 1) !important;
}

.nav-minimize {
    padding-top: 2px;
    padding-bottom: 8px;
}

.nav-maximize {
    padding-top: 7px;
    padding-bottom: 3px;
}

.nav-close {
    padding-top: 7px;
    padding-bottom: 3px;
}

.nav-close:hover {
    color: rgba(255, 255, 255, 1) !important;
    background: #e81123;
}

.navbar {
    -webkit-app-region: drag;
    cursor: default !important;
    padding-right: 0px;
}

nav {
    border-bottom: 1px solid #000000 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 34px;
    line-height: 32px;
    background-color: #f6f8fa;
    color: #081c2b;
    border-top: #e1e4e8 1px solid;
    font-size: 11px;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.container-fluid {
    max-width: 790px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

table,
tbody,
tr,
td {
    cursor: default !important;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #1e6aa6;
    background-color: #1e6aa6;
}

#dropzone {
    color: #081c2b;
    border: #ced4da 1px dashed !important;
    text-align: center;
    display: block;
    height: 150px;
    background-image: repeating-linear-gradient(60deg, #fff, #fff 30px, rgba(206, 212, 218, 0.2) 30px, rgba(206, 212, 218, 0.2) 60px);
}

#dropzone:hover,
#dropzone:active,
#dropzone:focus {
    color: #1e6aa6;
    border: #1e6aa6 1px dashed !important;
    background-image: repeating-linear-gradient(60deg, #fff, #fff 30px, #e9f4ff 30px, #e9f4ff 60px);
}

#ftpDirectoryContentWrapper {
    background: rgba(0, 0, 0, 0.02);
    border: #ced4da 1px solid;
    border-radius: 5px;
    height: 495px;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.hidden {
    display: none;
}

input,
select,
button,
textarea {
    -webkit-user-select: auto;
    -webkit-user-drag: auto;
    cursor: auto;
    outline: none !important;
    box-shadow: none !important;
    color: #081c2b !important;
    background: #fff !important;
    font-size: 12px !important;
    border: #ced4da 1px solid !important;
}

.btn-primary {
    color: #fff !important;
    background: #081c2b !important;
    border: #081c2b 1px solid !important;
    border-radius: 5px;
}

select option {
    outline: none !important;
    color: #081c2b !important;
    font-size: 12px !important;
    background: #fff !important;
    border: #ced4da 1px solid !important;
}

label {
    padding-top: 2px;
}

.input-group-text {
    color: #081c2b !important;
    background: #ced4da !important;
    font-size: 12px !important;
}

a,
a:link,
a:hover,
a:focus,
a:active {
    color: #081c2b;
    text-decoration: none;
}

#splashScreen {
    width: 800px;
    height: 600px;
    background: #081c2b;
    color: #FFF;
}